.sidebar {
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
}

.cards-container {
  margin-left: 50px;
  margin-right: 50px;
  border: solid;
  border-left: 3px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: black;
}

.horiz-grid {
  display: grid;
  justify-items: start;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-auto-flow: row;
  overflow: hidden;
  gap: 30px 30px;

}

.card-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.btn-category {
    color: black;
    background: white;
    border: none;
    height: 30px;
}

.card-costume {
  justify-self: start;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-costume > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-costume h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-costume p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-costume .card-costume-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-costume .card-costume-owner {
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-costume-infos .card-costume-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.img-thumbnail {
  width: 300px;
  height: 300px;
}
