.container {
  // display: flex;
  justify-content: center;
}

.img-costume {
  border: 10px solid black;
  height: 620px;
  width: 420px;
  margin: auto;
}

.links-show {
  text-align: right;
}

.btn-home {
  background-color: #fef7ee;
  font-weight: bold;
  color: black;
  padding: 8px 28px;
  transition: opacity 0.3s ease;
  border-color: #fef7ee;
  border-radius: 10px;
  border-width: 1px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  margin: 10px;
}

.text-desc {
  margin: 10px;
}

.btn-primary {
 background-color: #FFEBCD;
 font-weight: bold;
 color: black;
 padding: 8px 28px;
 transition: opacity 0.5s ease;
 border-color: #FFEBCD;
 border-radius: 10px;
 border-width: 1px;

 &.hover {
    border-color: red;
    border-width: 1px;
    color: red;
    box-shadow: 2px 2px 5px blac
    }
}


