.container {
  // display: flex;
  justify-content: center;
}

.img-costume {
  border-radius: 5px;
  height: 620px;
  width: 420px;
  margin: auto;
  img {
    border-radius: 5px;
    box-shadow: 1px 1px 4px #E6E6E6;
  }
}

.links-show {
  text-align: right;
}

.btn-home {
  background-color: #fef7ee;
  font-weight: bold;
  color: black;
  padding: 8px 28px;
  transition: opacity 0.3s ease;
  border-color: #fef7ee;
  border-radius: 10px;
  border-width: 1px;
}

.costume-title {
  font-weight: 900;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.text-desc {
  margin: 10px;
  align-self: flex-end;
}

.costume-container {
  display: flex;
}

.costume-indication {
  font-size: 20px;
  font-weight: 600;
}
