.container {
  // display: flex;
  justify-content: center;
}

// .img-costume {
//   border-radius: 5px;
//   height: 620px;
//   width: 420px;
//   // margin: auto;
//   img {
//     border-radius: 5px;
//     box-shadow: 1px 1px 4px #E6E6E6;
//     // object-fit: contain;
//     object-fit: cover;
//     object-position: 0% 0%;
//   }
// }


.img-costume  {
  margin-top: 48px;
  width: 400px;
  height: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: solid;
  border-width: 4px;
  // border-color: $light-gray;
  border-color: white;
}

.img-costume  > img {
  height: 500px;
  width: 100%px;
  margin-left: auto;
  // padding: 8px;
  object-fit: contain;
  // object-position: 50% 0%;
}



.links-show {
  text-align: right;
}

.btn-home {
  background-color: #fef7ee;
  font-weight: bold;
  color: black;
  padding: 8px 28px;
  transition: opacity 0.3s ease;
  border-color: #fef7ee;
  border-radius: 10px;
  border-width: 1px;
}

.costume-summary {
  margin-top: 48px;
  margin-left: 48px;
}

.costume-title {
  h2 {
    font-weight: 900;
    text-left: center;
    font-size: 50px;
  }
}

.rental-date {
  width: 120px;
  display: inline;
  text-align: center;
  justify: center;
  margin-bottom: 20px;

  input {
    margin-right: 20px;
    padding-right: 20px;
  }
}

.costume-info {
  width: 70%;
  .name {
    width: 150px;
    text-align:right;
    margin-right: 32px;
  }

  .value {
    text-align: left;
  }
}


.text-desc {
  margin: 10px;
  align-self: flex-end;
}

.costume-container {
  display: flex;
}

.costume-indication {
  font-size: 20px;
  font-weight: 600;
}

.btn-primary {
 background-color: #FFEBCD;
 font-weight: bold;
 color: black;
 padding: 8px 28px;
 transition: opacity 0.5s ease;
 border-color: #FFEBCD;
 border-radius: 10px;
 border-width: 1px;

 &.hover {
    border-color: red;
    border-width: 1px;
    color: red;
    box-shadow: 2px 2px 5px blac
    }
}


