<div class="footer">
    <div class="container text-center">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <p>This website was coded with <i class="fas fa-heart"></i> by David, Nayeun, Elisabeth & Julian</p>
    </div>
  </div>
