.bh-header {
   margin: 0px;
}

.navbar {
  justify-content: space-between;
  background: #fef7ee;
  margin: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: black;
}

.btn.btn-flat {
  padding: 8px 28px;
  float: left;
  padding: 6px;
  border: none;
  margin-top: 2px;
  margin-right: 16px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.nav-link-side {
  font-size: 20px;
  margin-left: 5px;
  margin-left: 5px;
  padding: 15px;
  color: black;
  display: flex;
}

.nav-link-home {
  font-weight: 900;
  color: black;
  font-size: 32px;
  padding: 10px;
  display: flex;
}

.search-form {
  display: flex;
  float: left;
  padding: 6px;
  border: none;
  margin-top: 4px;
  margin-right: 300px;
  font-size: 17px;
}

a:hover {
  color: grey;
  text-decoration: none;
}
